.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: left;
    color: white;
    }
    h1 {
        letter-spacing: 0.5pt;
        text-align: left;
        color: rgba(188, 101, 255, 0.792)
        /* color:rgb(255, 247, 156) */
    }
    h1:hover {
     text-shadow: rgb(0, 26, 255)   1px 0 10px

    }
    .div1 { grid-area: 1 / 1 / 2 / 6; }
    .div2 { grid-area: 5 / 1 / 6 / 6; 
    }
    .div3 { grid-area: 2 / 1 / 5 / 2; }
    .div4 { grid-area: 2 / 5 / 5 / 6; }
    .div5 { grid-area: 2 / 2 / 5 / 5; }

    .div1,
    .div2,
    .div3,
    .div4,
    .div5 {

        border: solid 1px green;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;        
    }

    .div1 {
    display: flex;
    margin-top: 0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    border: dashed thin rgb(223, 130, 8);
    height: 80px
   
    
    }
    .bored-api {
       
        text-decoration: none;
        color: slateblue;
        width: 1px;
    }
   

    .div2{
        height: 30px;
        text-align: right;
        padding-top: 10px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    html {
        background: rgb(5, 1, 23);
        /* background: radial-gradient(white, rgba(255, 255, 18, 0.515), yellow, gold, skyblue, rgba(72, 175, 215, 0.646), rgb(49, 182, 235)); 
        min-height: 100%; */

    }
    p {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .dropdown {
        font-family:cursive;
    }
    .reset:hover {
        background-color: red;
    }
    .submit:hover {
        background-color: greenyellow;
    }
    label {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .submit,
    .reset {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
 
    .div1,
    .div2 {
        background-color: green;
    }
   .div1 a,
   a.bored-api  {
        text-shadow: rgb(83, 255, 10) 1px 0 10px;
        text-decoration: none;
    }


  ul a {
    text-decoration: none;
    color: white
    }

.div4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 500px) {
    .div1,
    .div2 {
        background-color: red;
            border: dotted white;
    }

    
}